<% layout("layouts/boilerplate.ejs") %>

<h2 class="text-center">Edit</h2>
<div class="new-edit-form">
  <form
    action="/listings/<%= data._id %>?_method=PUT"
    method="post"
    class="needs-validation"
    novalidate
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label class="form-label" for="title">Title:</label>
      <input
        class="form-control"
        type="text"
        name="listing[title]"
        id="title"
        value="<%= data.title %>"
        required
      />
      <div class="invalid-feedback">Please provide a valid title.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="desc">Description:</label>
      <textarea
        name="listing[description]"
        id="desc"
        class="form-control"
        required
      >
<%= data.description %></textarea
      >
      <div class="invalid-feedback">Please provide a valid description.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="category">Category:</label>
      <input
        class="form-control"
        type="text"
        name="listing[category]"
        id="category"
        value="<%= data.category %>"
        required
      />
      <div class="invalid-feedback">Please provide a valid category.</div>
    </div>

    <div class="mb-3">
      <p>Original Image:</p>
      <img src="<%=  originalImageUrl %>" alt="listing image" />
    </div>

    <div class="mb-3">
      <label class="form-label" for="image">New Image:</label>
      <input
        class="form-control"
        type="file"
        name="listing[image]"
        id="image"
      />
    </div>

    <div class="mb-3">
      <label class="form-label" for="price">Price:</label>
      <input
        class="form-control"
        type="number"
        name="listing[price]"
        id="price"
        value="<%= data.price %>"
        required
      />
      <div class="invalid-feedback">Please provide a valid price.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="location">City:</label>
      <input
        class="form-control"
        type="text"
        name="listing[location]"
        id="location"
        value="<%= data.location %>"
        required
      />
      <div class="invalid-feedback">Please provide a valid city.</div>
    </div>

    <div class="mb-3">
      <label class="form-label" for="country">Country:</label>
      <input
        class="form-control"
        type="text"
        name="listing[country]"
        id="country"
        value="<%= data.country %>"
        required
      />
      <div class="invalid-feedback">Please provide a valid country.</div>
    </div>

    <button class="btn btn-danger" type="submit">Update</button>
  </form>
</div>
